In [8]:
import pandas as pd
import seaborn as sns
from sklearn.datasets import load_iris
from sklearn.cluster import KMeans

In [9]:
iris = load_iris()
iris_df = pd.DataFrame(data = iris.data, columns = iris.feature_names)
iris_df['label'] = iris.target
iris_df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),label
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [10]:
x = iris_df.iloc[:,:4]
y = iris_df['label']

In [11]:
kmeans_model = KMeans(n_clusters = 3, random_state = 42)
y_preds = kmeans_model.fit_predict(x)

iris_df['y_preds'] = y_preds
iris_df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),label,y_preds
0,5.1,3.5,1.4,0.2,0,1
1,4.9,3.0,1.4,0.2,0,1
2,4.7,3.2,1.3,0.2,0,1
3,4.6,3.1,1.5,0.2,0,1
4,5.0,3.6,1.4,0.2,0,1

In [12]:
iris_df.groupby(['label', 'y_preds'])['sepal length (cm)'].count()

label  y_preds
0      1          50
1      0          48
       2           2
2      0          14
       2          36
Name: sepal length (cm), dtype: int64

In [14]:
# Silhouette score
from sklearn.metrics import silhouette_samples, silhouette_score
print('silhouetteScore : {0:.4f}'.format(silhouette_score(x, y_preds)))

silhouetteScore : 0.5528

In [15]:
iris_df['silhouette'] = silhouette_samples(x, y_preds)
iris_df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),label,y_preds,silhouette
0,5.1,3.5,1.4,0.2,0,1,0.852955
1,4.9,3.0,1.4,0.2,0,1,0.815495
2,4.7,3.2,1.3,0.2,0,1,0.829315
3,4.6,3.1,1.5,0.2,0,1,0.805014
4,5.0,3.6,1.4,0.2,0,1,0.849302

In [16]:
iris_df.groupby('y_preds')['silhouette'].mean()

y_preds
0    0.417320
1    0.798140
2    0.451105
Name: silhouette, dtype: float64