In [ ]:
# 파이썬 기초 01

---

###  Indentation

- 들여쓰기는 함수 몸체, 조건문 루프, 클래스 등 다양한 코드 블록을 표현
- 들여쓰기로 탭을 사용할 수 있지만 권장하지 않으며, 스페이스를 이용하여 보통 4칸을 권장

In [1]:
a = True
if a:
    print("True")    
else:
    print("False")

True

### Code Block  콜론(:)

* 코드 블록의 시작은 콜론(:)
* 들여쓰기를 기준으로 들여쓰기가 없는 곳이 코드 블록의 끝

In [2]:
a = True
if a:
    print("True")
    print("True End ...")
else:
    print("False")
print('End...')

True
True End ...
End...

```java
// Java
boolean a = true;
if(a){
    System.out.println("True");
    System.out.println("True End...");
}else{
    System.out.println("False");
} 
    System.out.println("End...");
```

### 파이썬 연산자

##### 더하기

In [2]:
2 + 4

6

##### 빼기

In [3]:
4 - 2

2

##### 곱하기

In [4]:
2 * 4

8

##### 나누기

In [5]:
4 / 2

2.0

##### 제곱

In [6]:
4 ** 2

16

##### 몫

In [7]:
7 / 2

3.5

정수몫

In [8]:
7 // 2

3

##### 나머지

In [9]:
7 % 2

1

---

### 파이썬 주석문

In [ ]:
# ctrl + /

In [10]:
# 파이썬 주석문

In [11]:
# 파이썬 
# 주석문

In [36]:
'''
파이썬 
블럭
주석문
'''
print(1)

1

---

### 파이썬 표준출력

In [7]:
print('Hello Python World')

Hello Python World

In [8]:
print('a', 1)

a 1

In [9]:
print('a', 1, sep=':')

a : 1

---

In [12]:
1.23e-5

1.23e-05

### Python 변수

In [13]:
a = 10
b = 5

In [14]:
print(a, b)

10 5

In [15]:
한글변수 = 10

In [16]:
한글변수

10

In [17]:
a = b = 10

In [18]:
a

10

In [19]:
b

10

In [20]:
a, b = 2, 4

In [21]:
a

2

In [22]:
b

4

In [23]:
a = 10; b = 5

In [24]:
temp = a; a = b; b = temp

In [25]:
a, b = b, a

In [26]:
a

10

In [27]:
b

5

---

### 파이썬 동적 타입

In [28]:
price = 1000
rate = 0.05
num_years = 5

In [29]:
type(rate)

float

In [30]:
type(price)

int

In [31]:
price = price * (1+rate)
price

1050.0

In [32]:
price

1050.0

### 파이썬 객체

In [33]:
type("a")

str

In [34]:
type(1)

int

In [3]:
a = 1

In [5]:
a.bit_length()

1

In [35]:
st = "hello"

---

### 파이썬 문자열

In [11]:
a = '파이썬'

In [12]:
a

'파이썬'

In [13]:
b = "문자열"

In [14]:
c = """
죽는 날까지 하늘을 우러러 
한 점 부끄럼 없기를
잎새에 이는 바람에도
나는 괴로워 했다
"""

In [15]:
c

'\n죽는 날까지 하늘을 우러러 \n한 점 부끄럼 없기를\n잎새에 이는 바람에도\n나는 괴로워 했다\n'

In [16]:
'파이썬' + 3

TypeError: can only concatenate str (not "int") to str

In [17]:
d = '파이썬' + str(3)

In [18]:
d

'파이썬3'

In [23]:
e = '*' * 10

In [22]:
e

'----------'

---

###  포맷팅

In [24]:
name, age, phone = '홍길동', 25, '010-111-2222'

In [25]:
소개 = "이름은 {} 이고, 나이는 {}세 이며, 전화번호는 {} 입니다. ".format(name, age, phone)
소개

'이름은 홍길동 이고, 나이는 25세 이며, 전화번호는 010-111-2222 입니다. '

In [26]:
소개 = "이름은 {0} 이고, 나이는 {2}세 이며, 전화번호는 {1} 입니다. ".format(name, phone, age)
소개

'이름은 홍길동 이고, 나이는 25세 이며, 전화번호는 010-111-2222 입니다. '

In [27]:
소개 = "이름은 {a} 이고, 나이는 {b}세 이며, 전화번호는 {c} 입니다. ".format(c = phone, a = name, b = age)
소개

'이름은 홍길동 이고, 나이는 25세 이며, 전화번호는 010-111-2222 입니다. '

In [28]:
소개 = f"이름은 {name} 이고, 나이는 {age}세 이며, 전화번호는 {phone} 입니다. "
소개

'이름은 홍길동 이고, 나이는 25세 이며, 전화번호는 010-111-2222 입니다. '

In [33]:
jan, dec = 1, 12
print("한 해의 시작은 {:02d}월".format(jan))
print("한 해의 마지막은 {:02d}월".format(dec))

한 해의 시작은 01월
한 해의 마지막은 12월

In [34]:
val = 123456789
money = "{:,}"
money.format(val)

'123,456,789'

In [35]:
'{}, {:f}, {:.1f}, {:.2f}, {:.2%}'.format(3, 3, 3, 3.1475, 1/3)

'3, 3.000000, 3.0, 3.15, 33.33%'

---

### 문자열 indexing & slicing

In [37]:
a = 'HelloWorld!'

In [38]:
a

'H'

In [71]:
a[0]

'H'

In [73]:
a[5]

'W'

In [74]:
a[-1]

'!'

In [75]:
a[-2]

'd'

In [76]:
a[:5] # a[0:5]

'Hello'

In [77]:
a[5:]

'World!'

In [39]:
b = '1-2-3-4-5'

In [40]:
b

'1-2-3-4-5'

In [92]:
b[0::2]

'12345'

In [79]:
b[::-1] #건너뛰는 값이 음수일 때는, 기본 시작점은 -1

'5-4-3-2-1'

In [80]:
b[::-2]

'54321'

---

### 문자열 함수

In [46]:
'-'.join('HelloWorldPython')

'H-e-l-l-o-W-o-r-l-d-P-y-t-h-o-n'

In [47]:
'-'.join('12345')

'1-2-3-4-5'

In [48]:
'Hello-World-Python'.split('-')

['Hello', 'World', 'Python']

In [49]:
'서울시 마포구 상암동 1585'.split()

['서울시', '마포구', '상암동', '1585']

In [50]:
text = '\t 문자열 정리   \n'
text.strip()

'문자열 정리'

In [108]:
생일 = '2016/08/30'
생일.replace('/', '-')

'2016-08-30'

In [109]:
'Hello World Python'.startswith('Hello')

True

In [110]:
'Hello World Python'.startswith('Python')

False

In [111]:
'Python' in 'Hello World Python'

True

In [1]:
'Java' in 'Hello World Python'

False

In [113]:
text = 'Hello World Python'
text.count('o')

3

In [3]:
text = 'Hello World Python, Welcome to Python World'
text.count('Python')

2

In [4]:
text.index('o') # text.index('o', 5)

4

In [5]:
text.find('Python')

12

In [6]:
text.find('Python', 20)

31

In [119]:
'Hello World'.capitalize()

'Hello world'

In [120]:
'Hello World'.lower()

'hello world'

In [121]:
'Hello World'.upper()

'HELLO WORLD'

---

### 조건문

In [127]:
a = 3
b = 2

In [128]:
if a > b:
    print('TRUE')

TRUE

In [129]:
if a < b:
    print("Yes")
    print("a")
else:
    print("No")
    print("b")

No
b

In [134]:
suffix = "png"

if suffix == "htm":
    content = "text/html"
    
elif suffix == "jpg":
    content = "image/jpeg"
    
elif suffix == "png":
    content = "image/png"

print(content)

image/png

---

### 반복문

In [14]:
a = 0
while a < 5:
    print(a, '반복합니다.')
    a += 1 # a = a + 1

0 반복합니다.
1 반복합니다.
2 반복합니다.
3 반복합니다.
4 반복합니다.

In [15]:
for a in range(0, 5):
    print(a, '반복합니다.')

0 반복합니다.
1 반복합니다.
2 반복합니다.
3 반복합니다.
4 반복합니다.

In [19]:
list(range(0, 5))

[0, 1, 2, 3, 4]

In [27]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [20]:
list(range(0, 10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [29]:
list(range(0, 10, 2))

[0, 2, 4, 6, 8]

In [30]:
list(range(1, 10, 2))

[1, 3, 5, 7, 9]

In [32]:
list(range(10, 0))

[]

In [33]:
list(range(10, 0, -1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [34]:
list(range(10, 0, -2))

[10, 8, 6, 4, 2]

In [35]:
list(range(10, 0, -3))

[10, 7, 4, 1]

In [137]:
for item in range(1, 10, 2): 
    print(item)

1
3
5
7
9

In [37]:
num = list(range(1, 11))

In [38]:
for i in num:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [1]:
num = 3
for i in range(1, 10):
    answer = num * i
    print(f'{num} * {i} = {answer}')

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27