In [22]:
import pandas as pd
import sqlite3
from pandas.io import sql
import os

In [23]:
DB_NAME = 'top_cities.db'
TABLE_NAME = 'TOP_CITIES'

In [31]:
def db_save(df, db_name, table_name):
    with sqlite3.connect(db_name) as con:
        try:
            df.to_sql(name = table_name, con = con, index = False, if_exists='append') 
            #if_exists : {'fail', 'replace', 'append'} default : fail
        except Exception as e:
            print(str(e))
        print(len(df), '건 저장완료..')

In [ ]:
def db_select(db_name, table_name):
    with sqlite3.connect(db_name) as con: 
        try:
            query = 'SELECT * FROM {}'.format(table_name)
            df = pd.read_sql(query, con = con)
        except Exception as e:
            print(str(e)) 
        return df

In [40]:
def db_delete(db_name, table_name):
    with sqlite3.connect(db_name) as con: 
        try:
            cur = con.cursor()
            sql = 'DELETE FROM {}'.format(table_name)
            cur.execute(sql)
        except Exception as e:
            print(str(e))

In [41]:
# db_delete(DB_NAME, TABLE_NAME)

In [42]:
top_cites = pd.read_csv('top_cities.csv')
db_save(top_cites, DB_NAME, TABLE_NAME)

5 건 저장완료..

In [43]:
df = db_select(DB_NAME, TABLE_NAME)
df

   rank  city  population
0     1   상하이    24150000
1     2   카라치    23500000
2     3   베이징    21516000
3     4    텐진    14722100
4     5  이스탄불    14160467